body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0; /* Warna latar belakang */
}

.bendera-belanda {
    width: 300px; /* Lebar bendera */
    height: 200px; /* Tinggi bendera */
}

.warna-merah {
    background-color: #21468B; /* Warna merah */
    height: 33.33%; /* 1/3 dari tinggi bendera */
}

.warna-putih {
    background-color: #FFFFFF; /* Warna putih */
    height: 33.33%; /* 1/3 dari tinggi bendera */
}

.warna-biru {
    background-color: #AE1C28; /* Warna biru */
    height: 33.33%; /* 1/3 dari tinggi bendera */
}